/*
  Top Header styles for Modeler Project
  12/3/14
  Ben Southgate (bsouthga@gmail.com)
*/


.navbar-header {
    float: none;
}
.navbar-left,.navbar-right {
    float: none !important;
}

.navbar-toggle {
  display: block;
  border-radius: 20px;
  margin-top: 10px;
  background-color: #fdbf11;
  color: #fff;
  cursor: pointer;
}
.navbar-toggle:active {
  background-color: #fdbf11;
}

#hamburger-bun {
  position: absolute;
  display: inline-block;
  right: 0px;
  padding-right: 15px;
}

#hamburger-bun  div:hover {
  background-color: #777;
  cursor: pointer;
}

nav.navbar {
  height: 90px;
}

.navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
}
.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px;
}
.navbar-collapse.collapse {
    display: none!important;
}
.navbar-nav {
    float: none!important;
    margin-top: 7.5px;
}
.navbar-nav>li {
    float: none;
}
.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
}
.collapse.in{
  display:block !important;
}



#title-span {
  line-height: 66px;
  font-size: 18px;
  color : white;
  margin-left: 150px;
  font-weight: 500;
  letter-spacing: 3px;  
}

#briefs {
  color : white;
  background-color: #333;
  top: 66px;
  position: absolute;
  width: 100%;
}

#hamburger-meat {
  padding-top : 20px;
  padding-bottom: 20px;
}

#hamburger-meat h1 {
  font-size: 20px;
}

.height-adjust {
  margin-top: 8px;
}

.logo-image {
  display: block;
  position: absolute;
  height: 66px;
  margin-top: 10px;
}

#hamburger-meat a {
  display: block;
  padding: 5px 0px;
  cursor: pointer;
  color: white;
}