.DS_Store
lib/bundle.js
node_modules/*
redesign/*
rich_model/*
deprecated/*
todo/*
test/output/*
index_dist.html
npm-debug.log
Modeler.sublime-project
Modeler.sublime-workspace
Public-Release-Modeler.sublime-project
Public-Release-Modeler.sublime-workspace
cbtest.py
data/
dist/
lib/urban.js
src/interactive/Tour.coffee
src/interactive/URLBuilder.coffee
weight_estimation/